html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 834px) {
  .container {
    max-width: 834px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 150px;
  }
}

.section__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.05em;
  color: #cdae5d;
  text-align: center;
  margin-bottom: 0;
}
@media screen and (min-width: 834px) {
  .section__title {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-left: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .section__title {
    margin-left: 0;
  }
}

.section__title::after {
  content: "";
  display: block;
  border: 1px solid rgba(205, 174, 93, 0.24);
  width: 287px;
  height: 0px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 37px;
}
@media screen and (min-width: 834px) {
  .section__title::after {
    margin: 8px 0 37px -76px;
    width: 290px;
  }
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 375px;
  margin: 0 auto;
}
@media screen and (min-width: 834px) {
  .header {
    max-width: 834px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
  }
}

.header__container {
  padding: 14px 20px 0 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 834px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 36px 42px 0;
  }
}
@media screen and (min-width: 1440px) {
  .header__container {
    padding: 36px 30px 0 60px;
  }
}

.logo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.logo__first {
  font-weight: 400;
  font-size: 20px;
  color: #cdae5d;
  margin-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .logo__first {
    font-size: 24px;
  }
}

.logo__second {
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  color: #cdae5d;
  margin-bottom: 0;
  margin-left: 25px;
}
@media screen and (min-width: 1440px) {
  .logo__second {
    font-size: 16px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 834px) {
  .header__nav {
    display: block;
  }
}

@media screen and (min-width: 834px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 834px) and (min-width: 1440px) {
  .header__list {
    gap: 44px;
  }
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  color: #d9d9d9;
  text-decoration: none;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}
@media screen and (min-width: 1440px) {
  .header__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.05em;
  }
}
.header__link:hover, .header__link:focus {
  color: #cdae5d;
}

.header__open-menu {
  width: 28px;
  height: 28px;
  padding: 0;
  margin-top: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .header__open-menu {
    display: none;
  }
}

.header__icon-menu {
  width: 28px;
  height: 28px;
  fill: #cdae5d;
}

.hero__container {
  max-width: 375px;
  min-height: 507px;
  margin: 0 auto;
  padding: 220px 0 43px 18px;
  background-color: #585a59;
  border: 1px solid #cdae5d;
  background-image: url("../images/hero/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 834px) {
  .hero__container {
    max-width: 834px;
    min-height: 1121px;
    padding: 281px 0 340px 40px;
    background-image: url("../images/hero/hero-tablet@1x.jpg");
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 834px) and (min-resolution: 192dpi), screen and (min-width: 834px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .hero__container {
    max-width: 1440px;
    min-height: 670px;
    padding: 190px 0 190px 150px;
    background-position: right;
    background-image: url("../images/hero/hero-desktop@1x.jpg");
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url("../images/hero/hero-desktop@2x.jpg");
  }
}

.hero__title {
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #cdae5d;
  text-transform: uppercase;
  margin-bottom: 22px;
}
@media screen and (min-width: 834px) {
  .hero__title {
    font-size: 68px;
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 78px;
    margin-bottom: 12px;
  }
}

.hero__subtitle {
  font-weight: 500;
  font-size: 22px;
  width: 150px;
  color: #cdae5d;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .hero__subtitle {
    font-size: 42px;
    margin-bottom: 56px;
    width: 267px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__subtitle {
    font-size: 32px;
    width: 377px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .hero__button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 421px;
    gap: 36px;
  }
}
.hero__button-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 50px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  background-color: #cdae5d;
  color: #1e1e1e;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 300ms linear, color 300ms linear;
  transition: background-color 300ms linear, color 300ms linear;
}
@media screen and (min-width: 834px) {
  .hero__button-first {
    width: 210px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__button-first {
    width: 175px;
    margin-bottom: 0;
  }
}
.hero__button-first:hover, .hero__button-first:focus {
  background-color: rgba(210, 159, 27, 0.72);
  color: #d9d9d9;
}

.hero__button-second {
  display: none;
}
@media screen and (min-width: 834px) {
  .hero__button-second {
    display: block;
    border-radius: 15px;
    padding: 15px 18px;
    width: 210px;
    height: 50px;
    background-color: rgba(205, 174, 93, 0.31);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: background-color 300ms linear, color 300ms linear;
    transition: background-color 300ms linear, color 300ms linear;
  }
  .hero__button-second:hover, .hero__button-second:focus {
    background-color: #cdae5d;
    color: #f3fbff;
  }
}

.hero__contacts {
  display: none;
}
@media screen and (min-width: 834px) {
  .hero__contacts {
    display: block;
    max-width: 834px;
    margin: 0 auto;
    border: 1px solid #cdae5d;
    border-top: none;
    background-color: #222830;
    padding: 28px 34px 36px 44px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__contacts {
    max-width: 1440px;
    padding: 28px 85px 65px 154px;
  }
}

.hero__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__contacts-item {
  width: 210px;
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
  margin-bottom: 6px;
}

.contacts__icon {
  width: 35px;
  height: 35px;
  fill: #cdae5d;
}

.contacts-first {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #d9d9d9;
  margin-bottom: 0;
}

.contacts-second {
  font-weight: 400;
  font-size: 24px;
  color: #d9d9d9;
  margin-bottom: 0;
}

.second-item {
  font-style: normal;
  text-decoration: none;
}

.about {
  max-width: 375px;
  margin: 0 auto;
  padding: 36px 0 32px;
  background-color: #0d151d;
  border: 1px solid #cdae5d;
  border-top: none;
}
@media screen and (min-width: 834px) {
  .about {
    max-width: 834px;
  }
}
@media screen and (min-width: 1440px) {
  .about {
    min-width: 1440px;
    padding: 36px 0 65px;
  }
}

@media screen and (min-width: 1440px) {
  .about__main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .about__box {
    width: 692px;
    margin-bottom: 0;
    margin-right: 105px;
  }
}

@media screen and (min-width: 834px) {
  .about__item:nth-child(1) {
    margin-right: 48px;
  }
}
.about__item:nth-child(2) {
  display: none;
}
@media screen and (min-width: 834px) {
  .about__item:nth-child(2) {
    display: block;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 48px;
    margin-bottom: 30px;
  }
}

.about__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 834px) {
  .about__item:nth-child(3) {
    display: block;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 30px;
  }
}

.about__item:nth-child(4) {
  display: none;
}
@media screen and (min-width: 834px) {
  .about__item:nth-child(4) {
    display: block;
  }
}

.about__text {
  position: relative;
  font-weight: 400;
  line-height: 157%;
  color: #fff;
  margin-bottom: 0;
  padding-left: 15px;
}
@media screen and (min-width: 1440px) {
  .about__text {
    width: 337px;
    font-size: 16px;
    line-height: 219%;
  }
}

.about__text::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 1440px) {
  .about__text::before {
    top: 14px;
  }
}

.about__more-text {
  position: relative;
  display: none;
  font-weight: 400;
  line-height: 157%;
  color: #fff;
  margin-top: 32px;
}
@media screen and (min-width: 834px) {
  .about__more-text {
    display: block;
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .about__more-text {
    line-height: 219%;
  }
}

.about__more-text::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 1440px) {
  .about__more-text::before {
    top: 14px;
    left: -14px;
  }
}

.read-more-btn {
  display: block;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 179%;
  color: #cdae5d;
  padding: 0;
  text-align: end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 834px) {
  .read-more-btn {
    display: none;
  }
}

.read-more-btn::after {
  content: "";
  display: block;
  background-color: rgba(205, 174, 93, 0.24);
  width: 132px;
  height: 1px;
}

.about__text.show-more .about__more-text {
  display: inline;
}

.advantages {
  max-width: 375px;
  padding: 36px 0 66px;
  margin: 0 auto;
  border: 1px solid #cdae5d;
  border-top: none;
  background-color: #0d151d;
}
@media screen and (min-width: 834px) {
  .advantages {
    max-width: 834px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages {
    max-width: 1440px;
  }
}

.swiper-block {
  position: relative;
  padding-left: 58px;
  padding-right: 59px;
}
@media screen and (min-width: 1440px) {
  .swiper-block {
    padding-left: 0;
    padding-right: 0;
  }
}

.swiper-slide {
  position: relative;
  width: 218px;
  height: 286px;
  margin: 0 auto;
  padding: 23px 15px 48px 26px;
  border: 1px solid #cdae5d;
}

.advantages__icon {
  stroke: #cdae5d;
  fill: #0d151d;
  border: 1px solid #cdae5d;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  margin-bottom: 23px;
}

.advantages__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 179%;
  color: #eceff1;
  margin-bottom: 23px;
}

.advantages__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #eceff1;
  margin-bottom: 0;
}

.swiper-btn-box {
  position: absolute;
  bottom: -36px;
}
@media screen and (min-width: 1440px) {
  .swiper-btn-box {
    display: none;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background-color: rgba(205, 174, 93, 0.31);
  cursor: pointer;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.swiper-button-prev:hover, .swiper-button-prev:focus,
.swiper-button-next:hover,
.swiper-button-next:focus {
  background-color: #cdae5d;
}

.icon-arrow {
  width: 20px;
  height: 20px;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  position: absolute;
  left: 60px;
}
@media screen and (min-width: 834px) {
  .swiper-button-prev {
    left: 260px;
  }
}

.swiper-button-next {
  position: absolute;
  right: -160px;
}
@media screen and (min-width: 834px) {
  .swiper-button-next {
    right: -400px;
  }
}

.services {
  max-width: 375px;
  padding: 36px 0 34px;
  margin: 0 auto;
  border: 1px solid #cdae5d;
  border-top: none;
  background-color: #0d151d;
}
@media screen and (min-width: 834px) {
  .services {
    max-width: 834px;
    padding: 46px 0 106px;
  }
}
@media screen and (min-width: 1440px) {
  .services {
    max-width: 1440px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .services__main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 46px;
  }
}
.tab {
  overflow: hidden;
  border: 1px solid rgba(81, 61, 9, 0.5);
  border-bottom: none;
  background-color: transparent;
}
@media screen and (min-width: 834px) {
  .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 510px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .tab {
    margin: 0;
  }
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 7px 20px 7px;
  line-height: 179%;
  border-bottom: 1px solid rgba(81, 61, 9, 0.5);
  cursor: pointer;
  color: #fff;
  -webkit-transition: color 300ms linear;
  transition: color 300ms linear;
}
@media screen and (min-width: 834px) {
  .tab button {
    font-size: 16px;
  }
}

.tab button:nth-child(1):focus {
  border-bottom: none;
  border-right: 1px solid rgba(81, 61, 9, 0.5);
}

.tab button:nth-child(2):focus {
  border-bottom: none;
  border-right: 1px solid rgba(81, 61, 9, 0.5);
  border-left: 1px solid rgba(81, 61, 9, 0.5);
}

.tab button:nth-child(3):focus {
  border-bottom: none;
  border-left: 1px solid rgba(81, 61, 9, 0.5);
}

.tab button.active {
  color: #cdae5d;
}

.tabcontent {
  display: none;
  padding: 16px 6px 22px 10px;
  border: 1px solid rgba(81, 61, 9, 0.5);
  border-top: none;
}
@media screen and (min-width: 834px) {
  .tabcontent {
    width: 510px;
    margin: 0 auto;
    padding: 20px 20px 22px 12px;
  }
}
@media screen and (min-width: 1440px) {
  .tabcontent {
    margin: 0;
  }
}

.barber__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.barber__box:not(:last-child) {
  margin-bottom: 20px;
}

.barber__services {
  font-weight: 500;
  font-size: 12px;
  line-height: 208%;
  color: #cdae5d;
  margin-bottom: 0;
}
@media screen and (min-width: 834px) {
  .barber__services {
    font-size: 16px;
    line-height: 175%;
  }
}

.barber__price {
  font-weight: 500;
  font-size: 12px;
  line-height: 208%;
  color: #cdae5d;
  text-align: end;
  margin-bottom: 0;
}
@media screen and (min-width: 834px) {
  .barber__price {
    font-size: 16px;
    line-height: 175%;
  }
}

.barber__price::after {
  content: "";
  display: block;
  border: 1px solid rgba(205, 174, 93, 0.24);
  width: 150px;
  height: 0px;
}
@media screen and (min-width: 834px) {
  .barber__price::after {
    width: 269px;
  }
}

.barbers__container {
  position: relative;
  padding: 30px 0;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .barbers__container {
    padding: 0;
  }
}

.barbers__images {
  width: 185px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
}

.barbers__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
}
@media screen and (min-width: 834px) {
  .barbers__box {
    gap: 12px;
  }
}

.barbers__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #fff;
  margin-bottom: 0;
}

.barbers__position {
  font-weight: 500;
  font-size: 14px;
  line-height: 179%;
  color: #cdae5d;
  margin-bottom: 0;
}

.barbers .swiper-slide {
  width: 185px;
  border: none;
}
@media screen and (min-width: 1440px) {
  .barbers .swiper-slide {
    width: 198px;
    padding: 0;
  }
}

.swiper-btn-box-barber {
  position: absolute;
  bottom: 190px;
}
@media screen and (min-width: 834px) {
  .swiper-btn-box-barber {
    display: none;
  }
}

.swiper-button-prev-barber,
.swiper-button-next-barber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background-color: rgba(205, 174, 93, 0.31);
  cursor: pointer;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.swiper-button-prev-barber:hover, .swiper-button-prev-barber:focus,
.swiper-button-next-barber:hover,
.swiper-button-next-barber:focus {
  background-color: #cdae5d;
}

.swiper-button-prev-barber {
  position: absolute;
  left: 55px;
}

.swiper-button-next-barber {
  position: absolute;
  right: -160px;
}

.services__buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}
@media screen and (min-width: 834px) {
  .services__buttons-box {
    margin-top: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .services__buttons-box {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-top: 55px;
  }
}

.services__button-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border-radius: 15px;
  width: 210px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #1e1e1e;
  background-color: #cdae5d;
  margin-bottom: 28px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 300ms linear, color 300ms linear;
  transition: background-color 300ms linear, color 300ms linear;
}
@media screen and (min-width: 834px) {
  .services__button-first {
    margin: 0;
  }
}
.services__button-first:hover, .services__button-first:focus {
  background-color: rgba(210, 159, 27, 0.72);
  color: #d9d9d9;
}

.services__button-second {
  border-radius: 15px;
  padding: 15px 18px;
  width: 210px;
  height: 50px;
  background-color: rgba(205, 174, 93, 0.31);
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 300ms linear, color 300ms linear;
  transition: background-color 300ms linear, color 300ms linear;
}
@media screen and (min-width: 834px) {
  .services__button-second {
    margin: 0;
  }
}
.services__button-second:hover, .services__button-second:focus {
  background-color: #cdae5d;
  color: #f3fbff;
}

.gallery {
  max-width: 375px;
  padding: 36px 0;
  margin: 0 auto;
  border: 1px solid #cdae5d;
  border-top: none;
  background-color: #0d151d;
}
@media screen and (min-width: 834px) {
  .gallery {
    max-width: 834px;
    padding: 36px 0 40px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    max-width: 1440px;
    padding: 42px 0 50px;
  }
}

@media screen and (min-width: 834px) {
  .swiper__box {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper__box {
    padding: 0 152px 0 150px;
  }
}
.swiper__gallery-list > .swiper-slide {
  padding: 0;
  border: none;
}

@media screen and (min-width: 834px) {
  .swiper__gallery-list > .swiper-slide:nth-child(1) {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 834px) {
  .swiper__gallery-list > .swiper-slide:nth-child(2) {
    margin-bottom: 150px;
    width: 376px;
  }
}
@media screen and (min-width: 834px) {
  .swiper__gallery-list > .swiper-slide:nth-child(3) {
    margin-top: -65px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper__gallery-list > .swiper-slide:nth-child(3) {
    margin-top: -50px;
  }
}
@media screen and (min-width: 834px) {
  .swiper__gallery-list > .swiper-slide:nth-child(4) {
    margin-bottom: 140px;
  }
}
@media screen and (min-width: 834px) {
  .swiper__gallery-list > .swiper-slide:nth-child(5) {
    margin-top: 120px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper__gallery-list > .swiper-slide:nth-child(5) {
    margin-top: 160px;
  }
}
@media screen and (min-width: 834px) {
  .swiper-slide:nth-child(2) > img {
    width: 376px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-slide:nth-child(2) > img {
    width: 568px;
  }
}
@media screen and (min-width: 834px) {
  .swiper-slide:nth-child(6) > img {
    width: 376px;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-slide:nth-child(6) > img {
    width: 517px;
  }
}
@media screen and (min-width: 834px) {
  .swiper__box > .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.swiper-pagination-bullet {
  background-color: rgba(217, 217, 217, 0.8);
}

.swiper-pagination-bullet-active {
  background-color: #cdae5d;
}/*# sourceMappingURL=main.css.map */