.about {
  max-width: 375px;
  margin: 0 auto;
  padding: 36px 0 32px;
  background-color: $sections;
  border: 1px solid $h2-section;
  border-top: none;

  @media screen and (min-width: 834px) {
    max-width: 834px;
  }

  @media screen and (min-width: 1440px) {
    min-width: 1440px;
    padding: 36px 0 65px;
  }
}

@media screen and (min-width: 1440px) {
  .about__main-content {
    display: flex;
  }
}

.about__box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  @media screen and (min-width: 1440px) {
    width: 692px;
    margin-bottom: 0;
    margin-right: 105px;
  }
}

@media screen and (min-width: 834px) {
  .about__item:nth-child(1) {
    margin-right: 48px;
  }
}

.about__item:nth-child(2) {
  display: none;

  @media screen and (min-width: 834px) {
    display: block;
    order: -1;
    margin-right: 48px;
    margin-bottom: 30px;
  }
}

.about__item:nth-child(3) {
  display: none;

  @media screen and (min-width: 834px) {
    display: block;
    order: -1;
    margin-bottom: 30px;
  }
}

.about__item:nth-child(4) {
  display: none;

  @media screen and (min-width: 834px) {
    display: block;
  }
}

.about__text {
  position: relative;
  font-weight: 400;
  line-height: 157%;
  color: $white;
  margin-bottom: 0;
  padding-left: 15px;

  @media screen and (min-width: 1440px) {
    width: 337px;
    font-size: 16px;
    line-height: 219%;
  }
}

.about__text::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $white;

  @media screen and (min-width: 1440px) {
    top: 14px;
  }
}

.about__more-text {
  position: relative;
  display: none;
  font-weight: 400;
  line-height: 157%;
  color: $white;
  margin-top: 32px;

  @media screen and (min-width: 834px) {
    display: block;
    margin-top: 0;
  }

  @media screen and (min-width: 1440px) {
    line-height: 219%;
  }
}

.about__more-text::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $white;

  @media screen and (min-width: 1440px) {
    top: 14px;
    left: -14px;
  }
}

.read-more-btn {
  display: block;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 179%;
  color: $h2-section;
  padding: 0;
  text-align: end;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 834px) {
    display: none;
  }
}

.read-more-btn::after {
  content: '';
  display: block;
  background-color: rgba(205, 174, 93, 0.24);
  width: 132px;
  height: 1px;
}

.about__text.show-more .about__more-text {
  display: inline;
}
