.about {
  max-width: 375px;
  margin: 0 auto;
  padding: 36px 0 32px;
  background-color: $sections;

  @media screen and (min-width: 834px) {
    max-width: 834px;
  }
}

.about__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.05em;
  color: $h2-section;
  text-align: center;
  margin-bottom: 0;

  @media screen and (min-width: 834px) {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    margin-left: 80px;
  }
}

.about__title::after {
  content: '';
  display: block;
  border: 1px solid rgba(205, 174, 93, 0.24);
  width: 287px;
  height: 0px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 37px;

  @media screen and (min-width: 834px) {
    margin: 8px 0 37px -76px;
  }
}

.about__box {
  display: flex;
  flex-wrap: wrap;
}

.about__image {
  margin-bottom: 36px;
}

.about__text {
  position: relative;
  font-weight: 400;
  line-height: 157%;
  color: $white;
  margin-bottom: 0;
  padding-left: 15px;
}

.about__text::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $white;
}

.about__more-text {
  position: relative;
  display: none;
  font-weight: 400;
  line-height: 157%;
  color: $white;
  margin-top: 32px;
}

.about__more-text::before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: -10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $white;
}

.read-more-btn {
  display: block;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 179%;
  color: $h2-section;
  padding: 0;
  text-align: end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.read-more-btn::after {
  content: '';
  display: block;
  background-color: rgba(205, 174, 93, 0.24);
  width: 132px;
  height: 1px;
}

.about__text.show-more .about__more-text {
  display: inline;
}
