.advantages {
  max-width: 375px;
  padding: 36px 0 32px;
  margin: 0 auto;
  border: 1px solid $h2-section;
  border-top: none;
  background-color: $sections;
}

.swiper-slide {
  width: 218px;
  height: 286px;
  margin: 0 auto;
  padding: 23px 15px 48px 26px;
  border: 1px solid $h2-section;
}

.advantages__icon {
  stroke: $h2-section;
  fill: $sections;
  border: 1px solid $h2-section;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  margin-bottom: 23px;
}

.advantages__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 179%;
  color: $text;
  margin-bottom: 23px;
}

.advantages__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $text;
  margin-bottom: 0;
}

.swiper-btn-box {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: rgba(205, 174, 93, 0.31);
    cursor: pointer;
    transition: background-color 300ms linear;

    &:hover,
    &:focus {
        background-color: $h2-section;
    }
}

.icon-arrow {
    width: 20px;
    height: 20px;
}
