.blog {
  max-width: 375px;
  padding: 36px 0;
  margin: 0 auto;
  background-color: $sections;
  border: 1px solid $h2-section;
  border-top: none;

  @media screen and (min-width: 834px) {
    max-width: 834px;
    padding: 36px 0 41px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 45px 0 43px;
  }
}

.swiper__blog-list > .swiper-slide {
    padding: 0;
    width: 330px;
    height: 304px;
}