.blog {
  max-width: 375px;
  padding: 36px 0;
  margin: 0 auto;
  background-color: $sections;
  border: 1px solid $h2-section;
  border-top: none;

  @media screen and (min-width: 834px) {
    max-width: 834px;
    padding: 36px 0 41px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 45px 0 43px;
  }
}

.swiper__blog-list > .swiper-slide {
  padding: 0;
  width: 330px;
  height: 510px;
}

.blog__image {
  width: 332px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cdae5d;
}

.blog__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.05em;
  color: $h2-section;
  padding-left: 24px;
  margin-bottom: 10px;
}

.blog__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $text-info;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 20px;
}

.swiper__blog > .swiper-pagination {
  position: relative;
  bottom: 0;
}
