.footer {
  max-width: 375px;
  margin: 0 auto;
  padding: 36px 0 41px;
  background-color: $sections;
  border: 1px solid $h2-section;
  border-top: none;
}

.footer__container {
    padding: 0 30px;
}
