.footer {
  max-width: 375px;
  margin: 0 auto;
  padding: 36px 0 41px;
  background-color: $sections;
  border: 1px solid $h2-section;
  border-top: none;

  @media screen and (min-width: 834px) {
    max-width: 834px;
    padding: 50px 0 112px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 50px 0 148px;
  }
}

.footer__container {
  position: relative;
  padding: 0 30px;

  @media screen and (min-width: 834px) {
    padding: 0 40px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 150px;
  }
}

@media screen and (min-width: 834px) {
  .footer__title-logo {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    width: 350px;
    margin-bottom: 24px;
  }
}

.logo__first-footer {
  font-size: 24px;
}

.logo__second-footer {
  font-size: 16px;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.05em;
  color: $h2-section;
  text-align: center;
  margin-bottom: 36px;

  @media screen and (min-width: 834px) {
    text-align: left;
    font-weight: 500;
    font-size: 32px;
    line-height: 87%;
    margin-bottom: 0;
  }
}

.logo__box-footer {
  margin-bottom: 28px;
  width: 200px;

  @media screen and (min-width: 834px) {
    margin-bottom: 0;
  }
}

iframe {
  border-radius: 25px;
  width: 314px;
  height: 228px;
  margin-bottom: 36px;

  @media screen and (min-width: 834px) {
    width: 378px;
    height: 272px;
    border-radius: 0;
    margin-bottom: 0;
    position: absolute;
    right: 39px;
    bottom: -50px;
  }

  @media screen and (min-width: 1440px) {
    width: 525px;
    height: 394px;
    bottom: -55px;
  }
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-bottom: 24px;
  width: 320px;
}

.address__link {
  display: flex;
  align-items: center;
  gap: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: $white;
  text-decoration: none;
  font-style: normal;
}

.address__link-footer {
  width: 260px;
  text-decoration: underline;
}

.address__icon {
  fill: $h2-section;
  width: 25px;
  height: 25px;
}

.address__icon-footer {
  width: 45px;
}

.soc__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  @media screen and (min-width: 834px) {
    justify-content: left;
    width: 168px;
  }
}

.soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $h2-section;
  border-radius: 50%;
  width: 39px;
  height: 39px;
}

.soc__icon {
  background-color: transparent;
  fill: $h2-section;
  stroke: #f5f5f5;
}
