.footer {
  max-width: 375px;
  margin: 0 auto;
  padding: 36px 0 41px;
  background-color: $sections;
  border: 1px solid $h2-section;
  border-top: none;
}

.footer__container {
  padding: 0 30px;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.05em;
  color: $h2-section;
  text-align: center;
  margin-bottom: 36px;
}

.logo__box-footer {
  margin-bottom: 28px;
}

iframe {
  border-radius: 25px;
  width: 314px;
  height: 228px;
  margin-bottom: 36px;
}

.address__list {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.address__link {
  display: flex;
  align-items: center;
  gap: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: $white;
  text-decoration: none;
  font-style: normal;
}

.address__link-footer {
    width: 260px;
    text-decoration: underline;
}

.address__icon {
  fill: $h2-section;
  width: 25px;
  height: 25px;
}

.address__icon-footer {
    width: 45px;
}
