.gallery {
  max-width: 375px;
  padding: 36px 0;
  margin: 0 auto;
  border: 1px solid $h2-section;
  border-top: none;
  background-color: $sections;

  @media screen and (min-width: 834px) {
    max-width: 834px;
    padding: 36px 0 40px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 42px 0 50px;
  }
}

@media screen and (min-width: 834px) {
  .swiper__box {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper__box {
    padding: 0 152px 0 150px;
  }
}

.swiper__gallery-list > .swiper-slide {
  padding: 0;
  border: none;
}

// @media screen and (min-width: 834px) {
//   .swiper__gallery-list > .swiper-slide:nth-child(1) {
//     margin-bottom: 80px;
//   }
// }

// @media screen and (min-width: 834px) {
//   .swiper__gallery-list > .swiper-slide:nth-child(2) {
//     margin-bottom: 140px;
//     padding-left: 27px;
//   }
// }

// @media screen and (min-width: 1440px) {
//   .swiper__gallery-list > .swiper-slide:nth-child(2) {
//     margin-bottom: 160px;
//   }
// }

// @media screen and (min-width: 834px) {
//   .swiper__gallery-list > .swiper-slide:nth-child(3) {
//     margin-top: -65px;
//   }
// }

// @media screen and (min-width: 1440px) {
//   .swiper__gallery-list > .swiper-slide:nth-child(3) {
//     margin-top: -50px;
//   }
// }

// @media screen and (min-width: 834px) {
//   .swiper__gallery-list > .swiper-slide:nth-child(4) {
//     margin-bottom: 150px;
//   }
// }

// @media screen and (min-width: 1440px) {
//   .swiper__gallery-list > .swiper-slide:nth-child(4) {
//     margin-bottom: 165px;
//   }
// }

// @media screen and (min-width: 834px) {
//   .swiper__gallery-list > .swiper-slide:nth-child(5) {
//     margin-top: 100px;
//   }
// }

// @media screen and (min-width: 1440px) {
//   .swiper__gallery-list > .swiper-slide:nth-child(5) {
//     margin-top: 150px;
//   }
// }

@media screen and (min-width: 1440px) {
  .swiper__gallery-list > .swiper-slide:nth-child(6) {
    padding-left: 57px;
  }
}

// @media screen and (min-width: 834px) {
//   .swiper-slide:nth-child(6) > img {
//     padding-left: 57px;
//   }
// }

@media screen and (min-width: 1440px) {
  .swiper-slide:nth-child(6) > img {
    width: 517px;
    padding: 0;
  }
}

@media screen and (min-width: 834px) {
  .swiper__box > .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.swiper-pagination-bullet {
  background-color: rgba(217, 217, 217, 0.8);
}

.swiper-pagination-bullet-active {
  background-color: $h2-section;
}
