.hero__container {
  max-width: 375px;
  min-height: 507px;
  margin: 0 auto;
  padding: 220px 0 43px 18px;
  background-color: $block-2;
  border: 1px solid $h2-section;
  background-image: url('../images/hero/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/hero/hero-mobile@2x.jpg');
  }

  @media screen and (min-width: 834px) {
    max-width: 834px;
    min-height: 1121px;
    padding: 281px 0 340px 40px;
    background-image: url('../../images/hero/hero-tablet@1x.jpg');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../images/hero/hero-tablet@2x.jpg');
    }
  }
}

.hero__title {
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.05em;
  color: $h2-section;
  text-transform: uppercase;
  margin-bottom: 22px;

  @media screen and (min-width: 834px) {
    font-size: 68px;
    margin-bottom: 38px;
  }
}

.hero__subtitle {
  font-weight: 500;
  font-size: 22px;
  width: 150px;
  color: $h2-section;
  margin-bottom: 32px;

  @media screen and (min-width: 834px) {
    font-size: 42px;
    margin-bottom: 56px;
    width: 267px;
  }
}

.hero__button-first {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 50px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  background-color: $h2-section;
  color: $button;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  @media screen and (min-width: 834px) {
    width: 210px;
    margin-bottom: 40px;
  }
}

.hero__button-second {
  display: none;

  @media screen and (min-width: 834px) {
    display: block;
    border-radius: 15px;
    padding: 15px 18px;
    width: 210px;
    height: 50px;
    background-color: rgba(205, 174, 93, 0.31);
    font-weight: 500;
    font-size: 16px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}
