@use '../utils/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a,
*::before,
*::after {
  display: inline-block;
}

html,
body {
  min-width: 320px;
  height: 100%;
}
// =======================================
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body.header__open-menu {
  overflow: hidden;
}
